---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Inicio from "../components/Inicio.astro";
import Footer from "../components/Footer.astro";
import Productos from "../components/Productos.astro";
import Galeria from "../components/Galeria.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="DACAR-enmarcado a la medida">
	<main>
		<Nav />
		<Inicio />
		<Productos />
		<Galeria />
		<Contacto />
		<Footer />
	</main>
</Layout>
