---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Productos from "../components/Productos.astro";
import Galeria from "../components/Galeria.astro";
import Contacto from "../components/Contacto.astro";
import Hero from "../components/Hero.astro";
import Testimonios from "../components/Testimonios.astro";
---

<Layout title="DACAR-enmarcado a la medida">
	<main class="bg-gray-900">
		<Nav />
		<!-- <Inicio /> -->
		<Hero />
		<Productos />
		<Galeria />
		<Testimonios />
		<Contacto />
		<Footer />
	</main>
</Layout>
