---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Inicio from "../components/Inicio.astro";
import Productos from "../components/Productos.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="DACAR enmarcado a la medida">
	<main>
		<Nav />
		<Inicio />
		<Productos />
		<Contacto />
		<footer class="text-center text-white text-opacity-30 pb-3">
			Diseñado y creado por
			<a class="text-slate-400" href="https://www.davidcastro.tech/"
				>David Castro</a
			>
		</footer>
	</main>
</Layout>
