<div id="contacto" class="lg:text-center lg:h-screen lg:pt-24 pt-20 m-4">
    <h1 class="text-3xl font-bold text-center lg:text-5xl lg:pb-4 mb-4">
        Contacto
    </h1>
    <div class="pl-8 pb-4">
        <h3 class="text-xl">Horario</h3>
        <p class="">lunes - viernes: 9:00–13:30, 15:30–18:30</p>
        <p class="">sabado: 9:00–13:30</p>
    </div>
    <div class="pl-8 pb-4">
        <h3 class="text-xl">Telefono</h3>
        <p class="">614-416-11-32</p>
        <p class="">614-124-88-50</p>
    </div>
    <div class="pl-8 pb-4">
        <h3 class="text-xl">Ubicacion</h3>
        <p class="w-4/5 lg:w-auto">
            Calle Vigésimo Segundo 610, Cuauhtémoc, 31020 Chihuahua, Chih.
        </p>productos
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.9990229516497!2d-106.0836872844411!3d28.62979138241889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff2522a02d99%3A0xbad813e62f119a01!2sMarcos%20Dacar!5e0!3m2!1ses-419!2smx!4v1677717453365!5m2!1ses-419!2smx"
        width="250"
        height="250"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="m-auto pt-2 rounded-md"></iframe>

    <div class="pt-8 text-center pb-4">
        <a
            href="https://www.facebook.com/profile.php?id=100047615837485&sk=about"
            ><i class="fa-brands fa-facebook fa-2x pr-6"></i></a
        >
        <a href="https://goo.gl/maps/TkEvG6HsSXV1p3ii9"
            ><i class="fa-solid fa-map-location-dot fa-2x pr-6"></i></a
        >
        <a href="https://instagram.com/marcodacar?igshid=MDM4ZDc5MmU="
            ><i class="fa-brands fa-instagram fa-2x"></i></a
        >
    </div>
</div>
