<footer class="text-center text-sm text-white text-opacity-30 pb-3 m-2">
    <p>© 2023 Marcos Dacar. Todos los derechos reservados.</p>
    <div class="text-sm">
        Diseñado y creado por
        <a class="text-slate-400" href="https://www.davidcastro.tech/"
            >David Castro</a
        >
    </div>
</footer>
