<footer class="p-4 md:p-8 lg:p-10 bg-gray-800 lg:mt-10">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      href="#"
      class="flex justify-center items-center text-2xl font-semibold text-white"
    >
      <img
        src="/images/dacar.webp"
        alt="dacar logo"
        class="w-6 rounded-md mr-2"
      />
      Dacar
    </a>
    <p class="my-6 text-gray-400">
      Ofrecemos enmarcado personalizado de alta calidad para cuadros y obras de
      arte, con atención al cliente excepcional.
    </p>
    <ul
      class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 justify-center"
    >
      <li>
        <a
          href="/"
          class="block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white"
          aria-current="page">Inicio</a
        >
      </li>
      <li>
        <a
          href="#productos"
          class="block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white"
          >Productos</a
        >
      </li>
      <li>
        <a
          href="#galeria"
          class="block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white"
          >Galeria</a
        >
      </li>
      <li>
        <a
          href="#contactos"
          class="block py-2 pr-4 pl-3 rounded lg:bg-transparent lg:p-0 text-white"
          >Contactos</a
        >
      </li>
    </ul>
    <span class="text-sm sm:text-center text-gray-400 mt-10"
      >2023 Marcos Dacar. Todos los derechos reservados.
    </span>
  </div>
</footer>
