<div id="galeria" class="bg-black p-8">
    <h1 class="text-gray-200 text-center text-5xl lg:pt-10 font-bold">
        Galeria
    </h1>
    <div class="flex flex-wrap items-center justify-center lg:pt-40 pt-10">
        <img
            src="public/img/cuadro1.jpeg"
            alt="cuadro 1"
            class="rounded-md pb-8 lg:w-1/4 lg:pr-8"
        />
        <img
            src="public/img/cuadro2.jpeg"
            alt="cuadro 2"
            class="rounded-md pb-8 lg:w-1/4 lg:pr-8"
        />
        <img
            src="public/img/cuadro3.jpeg"
            alt="cuadro 3"
            class="rounded-md pb-8 lg:w-1/4 lg:pr-8"
        />
    </div>
</div>
