<div id="galeria" class="bg-black p-8">
    <h1 class="text-gray-200 text-center text-5xl lg:pt-10 font-bold">
        Galeria
    </h1>
    <div class="flex flex-wrap items-center justify-center lg:pt-40 pt-10">
        <img
            src="https://imgs.search.brave.com/ZZJefqwjnS9ft3779OZ0CFqqT0WmIvTRuwDkZpfJxCY/rs:fit:1200:1182:1/g:ce/aHR0cDovLzEuYnAu/YmxvZ3Nwb3QuY29t/Ly1KQ3cwcGR5cF83/dy9WQWMxa09ydm9G/SS9BQUFBQUFBQ1RY/WS9GdmF3RmtTWF9H/cy9zMTYwMC9wYWlz/YWplcyUyQm5hdHVy/YWxlcyUyQi0lMkJu/YXR1cmFsZXphJTJC/LSUyQm5hdHVyYWwl/MkJmcmVlJTJCbGFu/ZHNjYXBlcyUyQi0l/MkJmb3RvcyUyQmRl/JTJCcGFpc2FqZXMl/MkIoNCkuanBn"
            alt="cuadro 1"
            class="rounded-md pb-8 lg:w-1/4 lg:pr-8"
        />
        <img
            src="public/cuadro2.jpeg"
            alt="cuadro 2"
            class="rounded-md pb-8 lg:w-1/4 lg:pr-8"
        />
        <img
            src="public/cuadro3.jpeg"
            alt="cuadro 3"
            class="rounded-md pb-8 lg:w-1/4 lg:pr-8"
        />
    </div>
</div>
