<div id="galeria" class="pt-24 p-8">
    <h1 class="text-center text-6xl lg:pt-10 font-bold">Galeria</h1>
    <div class="grid lg:grid-cols-3 lg:grid-rows-3 pt-6">
        <img src="/images/rompecabeza.webp" alt="rompecabeza" class="img" />
        <img src="/images/jordan.webp" alt="jordan" class="img" />
        <img src="/images/cajon.webp" alt="cajon" class="img" />
        <img src="/images/doblemarco.webp" alt="doble marco" class="img" />
        <img src="/images/titulo.webp" alt="titulo" class="img" />
        <img src="/images/marialuisa.webp" alt="marialuisa" class="img" />
        <img src="/images/rustico.webp" alt="rustico" class="img" />
        <img src="/images/cuadro-ancho.webp" alt="cuadro ancho" class="img" />
        <img src="/images/magic.webp" alt="magic johnson" class="img" />
    </div>
</div>

<style>
    body {
        /* background-color: #3d3d3d; */
        color: white;

        font-family: "Roboto", sans-serif;
    }

    .img {
        transition: transform 0.6s;
        animation: scaleAnim 1s ease-in-out 1;
    }

    .img:hover {
        transform: scale(1.1);
    }

    @keyframes scaleAnim {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
</style>
