<section class="bg-gray-900 p-12 lg:p-24">
  <div
    class="grid grid-cols-1 md:grid-cols-2 place-items-center gap-16"
  >
    <div class=" place-self-center ">
      <h1
        class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl text-white"
      >
        Dacar
      </h1>
      <h2
        class="max-w-2xl mb-4 text-2xl font-extrabold tracking-tight leading-none md:text-2xl xl:text-3xl dark:text-white"
      >
        Enmarcado a la medida
      </h2>
      <p
        class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400"
      >
        Ofrecemos enmarcado personalizado de alta calidad para cuadros y obras
        de arte, con atención al cliente excepcional.
      </p>
      <a
        href="#contacto"
        class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-amber-600 hover:bg-amber-700 focus:ring-4 focus:ring-amber-300 dark:focus:ring-amber-900"
      >
        Contactanos
        <svg
          class="w-5 h-5 ml-2 -mr-1"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            fill-rule="evenodd"
            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
            clip-rule="evenodd"></path></svg
        >
      </a>
    </div>
    <div class=" place-items-center ">
      <img src="/images/inicio.webp" alt="dacar hero" class="rounded-md" />
    </div>
  </div>
</section>
