<div id="inicio" class="bg-black">
    <div
        class="w-full py-20 h-screen px-4 lg:px-12 lg:flex lg:justify-center text-center lg:text-left"
    >
        <div class="lg:w-6/12 lg:pt-32 lg:pl-24">
            <h1
                class="text-4xl font-extrabold text-black dark:text-white sm:text-5xl"
            >
                <span class="block"> DACAR</span>
            </h1>
            <h2 class="text-2xl text-black dark:text-white sm:text-4xl mt-2">
                <span class="block"> Enmarcado a la medida</span>
            </h2>

            <p class="text-xl mt-4 text-gray-400">
                Ofrecemos servicios de enmarcado personalizado para todo tipo de
                cuadros y obras de arte. Nos enorgullecemos de ofrecer un
                servicio de alta calidad y atención al cliente excepcional, para
                asegurarnos de que cada cliente obtenga el marco perfecto para
                su pieza única.
            </p>
        </div>
        <div class="lg:w-6/12 lg:pt-32">
            <img
                src="https://scontent.fcuu2-1.fna.fbcdn.net/v/t39.30808-6/334193765_490922523066487_2849069953103010523_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHGJ0tGfzM15qi9B4T8nwq-FuP7oWbZb-AW4_uhZtlv4LG3ZDOjdBqQv37XmccM3ypuBCrPkJY_hhCm3EonDM-9&_nc_ohc=J61BlUoyBHIAX-07bXs&_nc_ht=scontent.fcuu2-1.fna&oh=00_AfCDIRlOV_myrxrOJ8nXOWrf-vRgn93iuprm9_aYMogbTw&oe=640444FE"
                alt="logo"
                class="lg:w-56 w-8/12 rounded-md pt-12 m-auto"
            />
        </div>
    </div>
</div>
