<div id="inicio" class="anim">
    <div
        class="w-full py-20 h-screen px-4 lg:px-12 lg:flex lg:justify-center text-center lg:text-left pt-40"
    >
        <div class="lg:w-6/12 lg:pt-14 lg:pl-24 text-center">
            <h1 class="text-4xl font-extrabold sm:text-5xl">
                <span class="block"> DACAR</span>
            </h1>
            <div>
                <h2 class="text-2xl sm:text-4xl mt-2">
                    <span class="block"> Enmarcado a la medida</span>
                </h2>

                <p class="text-md mt-4 text-gray-300 lg:text-xl">
                    Ofrecemos enmarcado personalizado de alta calidad para
                    cuadros y obras de arte, con atención al cliente
                    excepcional.
                </p>
                <img
                    src="https://scontent.fcuu2-1.fna.fbcdn.net/v/t39.30808-6/306970657_624064505857405_6402953742916148525_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Ul8J3tJU8WwAX9adogT&_nc_ht=scontent.fcuu2-1.fna&oh=00_AfBEgSlAwjVjjyHBhyW2IDlqgE0VDBGHNOLKMT1h-NcMJg&oe=64073316"
                    alt=""
                    class="lg:w-7/12 w-9/12 pt-8 rounded-md m-auto"
                />
            </div>
        </div>
    </div>
</div>

<style>
    .anim {
        animation: scaleAnim 0.5s ease-in-out 1;
    }

    @keyframes scaleAnim {
        from {
            transform: scale(0);
        }
        to {
            transform: scale(1);
        }
    }
</style>
