<div>
    <nav class="bg-black shadow">
        <div class="px-4 mx-auto md:px-24">
            <div class="flex items-center justify-between h-16">
                <div class="w-full justify-between flex items-center">
                    <a class="flex-shrink-0" href="/">
                        <img
                            class="w-8 h-8"
                            src="https://scontent.fcuu2-1.fna.fbcdn.net/v/t39.30808-6/334193765_490922523066487_2849069953103010523_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHGJ0tGfzM15qi9B4T8nwq-FuP7oWbZb-AW4_uhZtlv4LG3ZDOjdBqQv37XmccM3ypuBCrPkJY_hhCm3EonDM-9&_nc_ohc=J61BlUoyBHIAX-07bXs&_nc_ht=scontent.fcuu2-1.fna&oh=00_AfCDIRlOV_myrxrOJ8nXOWrf-vRgn93iuprm9_aYMogbTw&oe=640444FE"
                            alt="Workflow"
                        />
                    </a>
                    <div class="flex items-baseline ml-8 md:text-lg text-sm">
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#inicio"
                        >
                            Inicio
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#productos"
                        >
                            Productos
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#galeria"
                        >
                            Galeria
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#contacto"
                        >
                            Contacto
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
