<div>
    <nav class="bg-black shadow">
        <div class="px-4 mx-auto md:px-24">
            <div class="flex items-center justify-between h-16">
                <div class="w-full justify-between flex items-center">
                    <a class="flex-shrink-0" href="/">
                        <img
                            class="w-8 h-8"
                            src="DACAR (1).svg"
                            alt="Workflow"
                        />
                    </a>
                    <div class="flex items-baseline ml-8 md:text-lg text-sm">
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#inicio"
                        >
                            Inicio
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#productos"
                        >
                            Productos
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#galeria"
                        >
                            Galeria
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/#contacto"
                        >
                            Contacto
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
