<div class="fixed w-full bg-zinc-700 bg-opacity-100">
    <nav class="shadow">
        <div class="px-4 mx-auto md:px-24">
            <div class="flex items-center justify-between h-16">
                <div class="w-full justify-between flex items-center">
                    <a class="flex-shrink-0" href="/">
                        <img
                            class="w-8 h-8"
                            src="https://scontent.fcuu2-1.fna.fbcdn.net/v/t39.30808-6/306970657_624064505857405_6402953742916148525_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=Ul8J3tJU8WwAX9adogT&_nc_ht=scontent.fcuu2-1.fna&oh=00_AfBEgSlAwjVjjyHBhyW2IDlqgE0VDBGHNOLKMT1h-NcMJg&oe=64073316"
                            alt="Workflow"
                        />
                    </a>
                    <div class="flex items-baseline ml-8 md:text-lg text-sm">
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/"
                        >
                            Inicio
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/productos"
                        >
                            Productos
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/galeria/"
                        >
                            Galeria
                        </a>
                        <a
                            class="text-gray-300 hover:text-gray-800 dark:hover:text-white px-3 py-2 rounded-md font-medium"
                            href="/contacto"
                        >
                            Contacto
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
