<div id="productos" class="bg-black text-gray-300 lg:p-24 p-10 h-screen">
    <h2 class="text-3xl font-bold text-center lg:text-5xl lg:mb-6">
        Productos disponibles
    </h2>
    <ul class="list-disc mt-5 lg:text-2xl lg:w-4/5 lg:m-auto">
        <li class="pt-2 lg:pt-8">
            <strong> Marcos a la medida</strong> - Ofrecemos una amplia variedad
            de opciones de marcos, incluyendo diferentes estilos, colores y materiales.
            Cada marco se personaliza para adaptarse perfectamente a su obra de arte.
        </li>
        <li class="pt-2 lg:pt-8">
            <strong> Bastidores a la medida</strong> - Si tienes una pintura en lienzo
            o cualquier otro tipo de pieza que requiere un bastidor, ofrecemos opciones
            personalizadas para adaptarse a tus necesidades.
        </li>
        <li class="pt-2 lg:pt-8">
            <strong> Espejos</strong> - Además de enmarcar obras de arte, también
            ofrecemos servicios de enmarcado para espejos. Ofrecemos una variedad
            de estilos y opciones de marco para adaptarse a cualquier decoración.
        </li>
        <li class="pt-2 lg:pt-8">
            <strong> Montaje de oleos</strong> - Si tienes una pintura al óleo que
            requiere un enmarcado personalizado, podemos ayudarte. Nos aseguraremos
            de que la pintura se conserve y se exhiba adecuadamente.
        </li>
    </ul>
</div>
